{% extends "base.html" %}
{% block content %}
    <h4 class="m-4">Hi, {{ user.get_username }}</h4>
    <h5 class="m-4">Please Fill in the {{ page_title }}</h5>
    <h5 class="m-4" id="error_msg" style="color:red;">{{ error_msg }}</h5>
    <form class="m-4" action="{% url action %}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <label>{{ form.stock.label_tag }}</label>
        <input id="stock_sel" name="{{ form.stock.name }}">
            
        <div id="price"></div>
        <p>
            {{ form.quantity.label_tag }}
            {{ form.quantity }}
        </p>
        <p>
            {{ form.limit_price.label_tag }}
            {{ form.limit_price }}
        </p>
        <button class="btn btn-danger" type="submit">Preview</button>
    </form>
    <!-- <input class="input" type="text" name="predictstock" placeholder="Stock Symbol, e.g. AAPL" id="inputforai"/> -->
    <button class="btn waves-effect waves-light" type="submit" name="action" onclick="getPrediction();">
        <div id="buttonname">
            Try Our AI Price Prediction<i class="material-icons right">send</i>
        </div>
    </button>
    <div id="outfield"></div>
    <div id="chartdiv" style="width: 100%; height: 500px"></div>
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/1.26.0/luxon.min.js"></script>
    <script>
        //$("#stock_sel").prop("selectedIndex", -1)
        $("#stock_sel").on("input", async function () {
            let symbol = $("#stock_sel").val().toUpperCase().trim()
            if (symbol && symbol.length >= 2) {
                $.ajax({
                    url: "{% url 'getquote' %}",
                    data: {
                        'symbol': symbol
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#price").text("Real time price: US$" + data.c.toString())
                    },
                    error: function() {
                        $("#price").text("Price data not found!")
                        $("#price").style.color = "red"
                    }
                })
                now_UNIX = (luxon.DateTime.now().ts / 1000).toFixed(0);
                sixMthsAgo_Unix = (luxon.DateTime.now().minus({months: 6}).ts / 1000).toFixed(0);
                $.ajax({
                    url: "https://finnhub.io/api/v1/stock/candle?symbol=" + symbol +"&resolution=D&from="+  sixMthsAgo_Unix + "&to=" + now_UNIX +"&token=c0p7jnn48v6rvej4esog",
                    data: {
                        'symbol': symbol
                    },
                    dataType: 'json',
                    success: function (data) {
                        finChartData = [];
                        fromDate = luxon.DateTime.now().minus({months: 6})
                        dateCount = 0;

                        for (i=0; i<data.c.length; i++){
                           console.log(fromDate.plus({days: dateCount}).weekday)
                            if( fromDate.plus({days: dateCount}).weekday !== 6 && fromDate.plus({days: dateCount}).weekday !== 7 ){
                                date = fromDate.plus({days: dateCount}).toFormat('yyyy-MM-dd')
                            } else if ( fromDate.plus({days: dateCount}).weekday === 6) {
                                dateCount +=2
                                date = fromDate.plus({days: dateCount}).toFormat('yyyy-MM-dd')
                            } else if ( fromDate.plus({days: dateCount}).weekday === 7) {
                                dateCount +=1
                                date = fromDate.plus({days: dateCount}).toFormat('yyyy-MM-dd')
                            }
                            dateCount +=1
                            finChartData.push({
                                "date": date,
                                "open": data.o[i],
                                "high": data.h[i],
                                "low": data.l[i],
                                "close": data.c[i]
                            })
                        }
                        am4core.ready(function() {

                        // Themes begin
                                am4core.useTheme(am4themes_animated);
                        // Themes end
                                var chart = am4core.create("chartdiv", am4charts.XYChart);
                                chart.paddingRight = 20;

                                chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

                                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                                dateAxis.renderer.grid.template.location = 0;

                                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                                valueAxis.tooltip.disabled = true;

                                var series = chart.series.push(new am4charts.CandlestickSeries());
                                series.dataFields.dateX = "date";
                                series.dataFields.valueY = "close";
                                series.dataFields.openValueY = "open";
                                series.dataFields.lowValueY = "low";
                                series.dataFields.highValueY = "high";
                                series.simplifiedProcessing = true;
                                series.tooltipText = "Open:${openValueY.value}\nLow:${lowValueY.value}\nHigh:${highValueY.value}\nClose:${valueY.value}";

                                chart.cursor = new am4charts.XYCursor();
                                chart.data = finChartData
                        }); 
                    },
                    error: function() {
                    }
                })
                
            }
            // let response = await fetch("https://finnhub.io/api/v1/quote?symbol="+symbol+"&token=c0n56cv48v6v1q0c1peg")
            // if (response.ok) {
            //     let data = await response.json()
            //     $("#price").text("Real time price: US$" + data.c.toString())
            // }
            //$("#price").text(response)
            
        })
        function validateForm() {
            let priceField = document.getElementById('price').innerHTML
            console.log(priceField)
            if (priceField == 'Real time price: US$0' || priceField == '') {
                document.getElementById("error_msg").innerHTML = "Something wrong with the stock selected"
                return false
            } else {
                let currentPrice = parseFloat(priceField.split('$')[1])
                let limitPrice = document.getElementById('id_limit_price').value
                let upper = currentPrice * 1.1
                let lower = currentPrice * 0.9
                if (limitPrice > upper || limitPrice < lower) {
                    document.getElementById("error_msg").innerHTML = "Limit price is too far from current price"
                    return false
                }
                return true
            }
        }

    async function getPrediction(text) {
        $("#outfield").text ('Loading....Please wait')
        let finished = await fetchStatus()
    }

    function fetchStatus() {
        let symbol = $("#stock_sel").val().toUpperCase().trim()

        return new Promise((resolve, reject) => {
            $.ajax({
                url: "{% url 'getprediction' %}",
                data: {
                    'symbol': symbol
                },
                dataType: 'json',
                success: function (data) {
                    $("#outfield").text("Predicted price: US$" + data.predicted_price.toString())
                },
                error: function() {
                    $("#outfield").text("Price data not found!")
                    $("#outfield").css("color", "red")
                }
            })
        })

    }

    </script>
{% endblock %}